.header {
    position: relative;

    &__img {
        float: left;
    }

    &__title {
        float: left;
        height: 48px;
        line-height: 48px;
        margin-left: 12px;
    }

    &__terminate {
        position: absolute;
        right: 0;
        top: 0;
    }
}
