@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    color: #54636e;
    font-family: 'Meiryo', 'Meiryo UI', 'Yu Gothic', 'YuGothic', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}
