@import 'node_modules/vanilla-framework/scss/vanilla';

@include vf-base;
@include vf-p-heading-icon;
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-tabs;
@include vf-p-modal;

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
